.main-container{
  display: grid;
  margin: 10px 10px;
  grid-template-areas: "header header" "body body" "footer footer";
  grid-template-columns: 100fr;
  grid-template-rows: 10fr 80fr 10fr;
  border:3px solid rgb(150, 113, 113);
}
.body-container{
  display:grid;
  margin: 10px 10px;
  grid-template-areas: "Summary" "Skills" "Experience";
  grid-template-columns: 100fr;
  grid-template-rows: 10fr 20fr 70fr;
}
.box-header{
  grid-area: header;
}
.box-body{
  grid-area: body;
}
.box-footer{
  grid-area:footer;
}

.box-summary{
  grid-area: Summary;
}
.box-skills{
  grid-area: Skills;
}
.box-experience{
  grid-area: Experience;
}