.body-container{
  display:grid;
  margin: 10px 10px;
  grid-template-areas: "Summary" "Skills" "Experience" "Education" "ContactUs";
  grid-template-columns: 100fr;
  grid-template-rows: auto auto auto auto auto;
}
.box-header{
  grid-area: header;
}
.box-body{
  grid-area: body;
}
.box-contactus{
  grid-area:ContactUs;
}

.box-summary{
  grid-area: Summary;
}
.box-skills{
  grid-area: Skills;
}
.box-experience{
  grid-area: Experience;
}
.box-education{
  grid-area: Education;
}
.header-label{
  font-size: medium;
  font-weight: bold;
}